<h1>筆劃查詢結果</h1>


<% @characters.each do |character| %>
	<%= character['chinese'] %>：<%= character['stroke'] %>劃
	<br/>
	<br/>
<% end %>

總筆劃：<%= @stroke_sum %>劃
<br/>
<br/>
<br/>	

<h3>跟你的姓名筆劃數一樣的地方</h3>
<table>
	<% if @places != nil%>
		<% @places.each do |place| %>
			<tr>
				<td><b><%= place['place']%></b></td>
				<td><%= place['county']%><%= place['town']%></td>
			</tr>
		<% end %>
	<% else %>
		沒有符合的噎Q
	<% end %>
</table>
<br>
<br>
<br>
<br>
<%= link_to '返回', root_path %>